.Search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;

  &_Game {
    width: 192px;
    height: 120px;
    margin-bottom: 40px;

    img {
      width: 192px;
      height: 120px;
      object-fit: cover;
    }
  }
}